.mobileProductItemsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    @media screen and (min-width:768px){
        display: none;
    }
}

.customSelectStyles{
    background-color: #BF2597;
    border: none;
    padding: 5px;
    color: white;

@media screen and (min-width:320px) and (max-width:767px) {
width: 100%;
}
}

.productsContainer{

}

.eachProductContainer{
    width: 90%;
    margin: auto;

    h3{
        margin-bottom: 10px;
    }
}

.imageTextsContainer{
display: flex;
align-items: center;
}

.productImageStyles{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

