.offerStyles{
    width: 100% !important;
}

.slickCustomStyles{
    margin-top: 10px;
}

.customSlickPrevStyles{
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 1;
    background-color: #989796;
    cursor: pointer;
}

.customSlickNextStyles{
    position: absolute;
    top: 50%;
    right: 0px;
    z-index: 1;
    background-color: #989796;
    cursor: pointer;
}