.itemsLandingContainer{
    background-color: #EEEEEE;
    min-height: calc(100vh - 95px);
    padding-bottom: 20px;
    position: relative;
}

.headingContainer{
    padding-top: 30px;

    h3{
        margin-top: 0px;
        padding: 15px;
    background-color: white;
    }

    span{
        font-weight: normal;
    }
}

.cartItemsContainer{

}

.eachCartItemContainer{
    background-color: white;
    padding: 5px;
    display: flex;
    margin-bottom: 15px;
}

.cartItemImageStyles{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.itemNameUnitsContainer{
display: flex;
flex-direction: column;

h3{
    margin-bottom: 5px;
}

button{
    margin: 0px 5px;
}

span{
    margin: 0px 5px;
}
}

.priceContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;

    span{
        align-self: center;
    }
}

.unitsContainer{

}

.bottomTextButtonsStyles{
display: flex;
flex-direction: column;
background-color: white;
    padding: 20px 0px;
    align-items: center;
    position: absolute;
    bottom: 0px;
    margin: auto;
    width: 1120px;

    @media screen and (min-width:320px) and (max-width:767px) {
        
    width: 100%;
    
    }

    @media only screen and (min-width: 768px) and (max-width: 1180px){
    width:92%;
    }

    button{
        width: 92%;
    margin: auto;
    margin-top: 8px;
    background-color: #BF2957;
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    }
}