.modalMainContainer{
    border: solid 2px black;
    background-color: white;  
      border-top: none;
      display: flex;
    flex-direction: column;
}

.topContainer{
    width:80vw;
    height: 40px;
    background-color: #1C2124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    img{
        width: 20px;
    height: 20px;
    }
}

.headingStyles{
    color: white;
}

.closeIconButtonStyles{
background-color: transparent;
border: none;
outline: none;
cursor: pointer;
}

.emptyModalTextsContainer{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shoppingButtonStyles{
    width: 96%;
    margin: 0px auto 8px;
    background-color: #D10157;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}