.categoriesListStyles{
    width:210px;
    background-color: #EAEAEA;

    ul{
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
li{
    border-bottom: solid 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

    a{
        text-decoration: none;
        color: gray;
        cursor: pointer;
    }
  

    

    .activeButtonStyles{
        color: red;
    }

    @media screen and (min-width:320px) and (max-width:767px) {
        display: none;
    }
}